@font-face {
    
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    src: url(../css/Roboto/Roboto-Bold.ttf);
    src: url(../css/Roboto/Roboto-Medium.ttf);
    src: url(../css/Roboto/Roboto-Regular.ttf);
    src: url(../css/Bebas_Neue/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start*/
header{
    background: #FFF9F4;
}
.navbar-brand img{
    width: 290px;
}
.navbar-nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3C3C3C !important;
}
.heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #FA804C;
}
.heighlight-heading{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.para{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #3E3E3E;
}
.btn-hero{
    color: #fff;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border: none;
    transition: width 2s ease-out 1s;
}
.btn-hero:hover {
    color: #fff;
    background: #FA804C;
}

/* header end*/

/* main start */
.category-item{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.category-item:hover {
  transform: scale(1.1);
}
.cas-heighlighter{
    font-family: 'Roboto', sans-serif;
    color: #363958;
}
.price{
    font-family: 'Roboto', sans-serif;
    color: #FA804C;
}
.info-card{
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.info-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
/* main end */
.contact{
    background: #FFF9F4;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 575px) {
    .navbar-brand img{
        width: 190px;
    }
    .heading{
        font-size: 33px;
    }
    .cas-shoe h1{
        font-size: 24px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-brand img{
        width: 240px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand img{
        width: 265px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) and (max-width: 1440px) {

}

@media (min-width: 1441px) {

}

